@font-face { 
  font-family: 'Tilt_Neon'; 
  src: url('../fonts/Tilt_Neon/TiltNeon-Regular-VariableFont_XROT\,YROT.ttf');
}

@font-face { 
  font-family: 'Dancing Script'; 
  src: url('../fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf');
} 

/* @font-face { 
  font-family: 'Neonderthaw'; 
  src: url('../fonts/Neonderthaw/Neonderthaw-Regular.ttf');
} 

@font-face { 
  font-family: 'Sacramento'; 
  src: url('../fonts/Sacramento/Sacramento-Regular.ttf');
}  */


body {
  min-height: 100vh;
  background-color: #E2cdf1;
  font-size: 16px;
}

.header {
  padding: 30px 100px 0px 100px;
  background-color: #E2cdf1;
  color: black;
  text-align: center;
}


.page_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15rem;
  font-family: 'Tilt_Neon';
  color: #E2cdf1;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  

  /* text-shadow: 0 0 20px #Ff00f8; */
  /* border: solid 3px black; */
  

}


.header__menu-container {
  display: flex;
  flex-direction: row; 
  --main-width: 700px; 
  --highlight--color: #Ff00f8;
}


.header__menu-item {
  font-size: 1.2em;
  flex-grow: 1;
  font-family: 'Tilt_Neon';
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  transition: 0.5s;
  border-bottom: solid 3px transparent;
}


.header__menu-item:hover {

  border-bottom: solid 3px var(--highlight--color);
  color: black;
  text-shadow: 0 0 20px #Ff00f8;
  transition: 0.8s;
}
/* 
.header__menu-item--active {
  border-bottom-color: var(--highlight--color);
} */
/* 
.header__menu-item a {
  display: block;
} */

.main-container {
  max-width: var(--main-width);
  /* margin: -50px auto 0;
  background-color: #FFF;
  padding: 30px 20px; */
  display: flex;
  align-items: flex-end;
}


.projets {
padding-top: 20px;
font-weight: bold;
}

section {
  padding-bottom: 20px;
}


.footer {
  position: sticky;
  top: 100%;
  background-color: #E2cdf1;
  padding-bottom: 50px;
  color: black;
  text-align: center;
}

.footer_title {
  font-family: 'Tilt_Neon';
}

.monCV {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}