@font-face { 
  font-family: 'Tilt_Neon'; 
  src: url('../fonts/Tilt_Neon/TiltNeon-Regular-VariableFont_XROT\,YROT.ttf');
}

@font-face {
  font-family: 'RocaTwo';
  src: url('../fonts/Roca-Font/RocaTwo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body#home {
  background-image: url("../img/background.jpg");
  background-size: cover;
  min-height: 100vh;
  font-size: 16px;
}

body {
  background-size: cover;
  min-height: 100vh;
  background-color: #C2ADE5;
  font-size: 16px;
}


.header {
  padding: 30px 100px 0px 100px;
  text-align: center;
  margin-bottom: 97px;
}

.headerCV {
  padding: 30px 100px 0px 100px;
  text-align: center;
  margin-bottom: 10px;
}

.theme-disco .header {
 margin-bottom: 0;
}

.slideInGif {
  width: 1px;
  height: 1px;
  visibility: hidden;
}

.slideInGifProject {
  width: 1px;
  height: 1px;
  visibility: hidden;
}

.slideInGifCV {
  width: 1px;
  height: 1px;
  visibility: hidden;
}


.page_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10rem;
  font-family: 'Tilt_Neon';
  color: #C2ADE5;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;

}


.header__menu-container {
  display: flex;
  flex-direction: row; 
  --main-width: 700px; 
  --highlight--color: #FF00F8;
  margin-top: 20px;
}


.header__menu-item {
  font-size: 1.2em;
  flex-grow: 1;
  font-family: 'Tilt_Neon';
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  transition: 0.5s;
  border-bottom: solid 3px transparent;
}


.header__menu-item:hover {

  border-bottom: solid 3px var(--highlight--color);
  color: black;
  text-shadow: 0 0 20px #FF00F8;
  transition: 0.8s;
}

.theme-disco .header__menu-item:hover {

  border-bottom: solid 3px var(--highlight--color);
  color: white;
  text-shadow: 0 0 30px #FF00F8;
  transition: 0.8s;
}
/* 
.header__menu-item--active {
  border-bottom-color: var(--highlight--color);
} */
/* 
.header__menu-item a {
  display: block;
} */




.projets {
padding-top: 20px;
font-weight: bold;
}

section {
  padding-bottom: 20px;
}


.footer {
  position: sticky;
  right: 47%;
  top: 100%;
  
  text-align: center;
}

.footer_title {
  font-family: 'Tilt_Neon';
}

.languages {
  font-size: 15px;
}

.theme {
  padding: 2%;
  
}

.theme-disco {
  background-color: #261921;
  color: #FF00F8;
  text-shadow: 0 0 50px #FF00F8;


}

.theme-disco .cursor {
  z-index: 999;
  position: fixed;
  background: transparent;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0px 0px 45px white;

  /* animation: colors 5s infinite; */

}

/* @keyframes colors {
  0% {
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
} */

.theme button {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color:transparent;
    padding: 0; 
    border: none; 
    
  }

.theme .switchButton {
    width: 50px;
    height: 50px;
  }

  .theme-disco .page_title {
    background-color: transparent;
  color: #FF00F8;
  /* text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor; */
  text-shadow: 0 0 65px #FF00F8;
    
  }

  .theme-disco .btn {
    background-color: transparent;
  }

  body.theme-disco {
    background-image: none;
    min-height: 100vh;
    background-color: #261921;
    /* font-size: 16px; */

  } 


.theme-disco .slideInGif {
  visibility: visible;
  position: absolute;
  width: 350px;
  height: 350px;
  top: 0;
  left: 0;
  animation: slideInAnimation 1s forwards;
}

.theme-disco .slideInGifProject {
  visibility: visible;
  position:static;
  width: 90px;
  height: 90px;
  animation: slideInAnimation 1s forwards;
}

.theme-disco .slideInGifCV {
  visibility: visible;
  position: absolute;
  right: 17%;
  width: 90px;
  height: 90px;
  animation: slideInAnimation 1s forwards;
  
}

@keyframes slideInAnimation {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


    

/* reponsive */
  
    /* Example media query for small screens */
@media (max-width: 767px) {
  /* Adjust the styles for small screens here */
}

/* Example media query for medium screens */
@media (min-width: 768px) and (max-width: 991px) {
  /* Adjust the styles for medium screens here */
}

/* Example media query for large screens */
@media (min-width: 992px) {
  /* Adjust the styles for large screens here */
}


/* mes projets my projects */

.container {
  background-color: rgba(228, 215, 245, 0.65); /* Change the color code and add the desired opacity */
  position:relative;
  /* top: 20%; */
  display: block;
  width: 100%;
  margin: auto;
  overflow:hidden;
  border: 1px solid #E4D7F5;
  height: 500px;
  margin-top: 20px;
}

.theme-disco .container {
  background-color: transparent;
  border-color: #FF00F8;
  
}

.tab-cont{
  float: left;
  width: 15%;
  background-color: transparent;
  height: 100%;
  border-right: 1px solid white;
}


.tab-cont button{
  border-color:#E4D7F5;
  width: 100%;
  background-color: transparent;
  padding: 18px;
  font-size: 16px;
  font-weight: 400;
}
.tab-cont button:hover{
  background-color: #E4D7F5;
}

.theme-disco .tab-cont button{
  border-color:#FF00F8;
  color: #FF00F8;
}

.theme-disco .tab-cont{
  border-color:#FF00F8;
}

.theme-disco .tab-cont button:hover{
  background-color: black;
}


.tab-content{
  
  height: 100%;
  float:left;
  padding: 20px;
  width: 70%;
  animation: anime 1s 

}

.tab-content h2{
  font-family: 'RocaTwo';
  
}
.tab-content p{
  font-weight: 100;
  color: #666;
  margin-top: 20px
}
.tab-cont .but.active{
  background-color: #C2ADE5;
}

.theme-disco .tab-cont .but.active{
  background-color: black;
}

@keyframes anime {
  from{opacity: 0}
  to{opacity: 1}
}



/* CV zoom in */


.monCV {
  display: block;
  margin: 0 auto;
}


/* carousel */

.guide {
  position: relative;
  overflow: hidden;
  padding: 20px;
}


.guide-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.guide-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  /* width: 250px;
  height: 450px; */
  margin-right: 20px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pre-btn,
.nxt-btn {

  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, transparent 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  width: 60px;
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

/* converter */
.sims{
  float: right;
  height: 50%;
}

/* TO DO LIST */

.toDoContainer {
  width: 360px;
}

#inputField {
  width: 300px;
  height: 46px;
  border-width: 0;
  border: 1px solid black;
  outline: none;
  font-size: 25px;
  vertical-align: middle;
}

#addToDo {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  vertical-align: middle;
  font-size: 30px;
}

.paragraph-styling {
  margin: 0;
  cursor: pointer;
  font-size: 20px;
}

.tasks {
  margin-top: 25px;
}

/* game */
.label {
  font-weight: bold;
  margin: 1rem 0;
}

#userCode {
  padding: 1rem;
  font-family: monospace;
  background-color: black;
  color: #C2ADE5;
  font-size: 1rem;
  width: 100%;
  height: 4rem;
}

.theme-disco #userCode {
  border-color: #FF00F8;
}

#launchScript {
  background-color: #C2ADE5;
  border: 0;
  margin: 0.625rem 0;
  padding: 0.625rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

#board {
  margin-top: 1rem;
  display: inline-block;
  background-color: black;
  border: 1px solid black;
}


.cellRow {
  display: flex;
}

.cell {
  background-color: lightgrey;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2em;
  margin: 1px;
}

.cellStart {
  background-color: white;
}

.cellEnd {
  background-color: #C2ADE5;
  content: url('../img/castle.png');
}

.theme-disco .cellEnd {
  background-color: #C2ADE5;
  content: url('../img/house.gif');
}

.cellCurrent::after {
  content: '→';
  color: #C2ADE5;
}

.cellCurrent-top {
  transform: rotate(-90deg);
}

.cellCurrent-bottom {
  transform: rotate(90deg);
}

.cellCurrent-left {
  transform: rotate(180deg);
}

.cellCurrent-right {
  transform: rotate(0deg);
}

.commands {
  color: black;
  background-color: white;
}

.forward {
  background-color:#C2ADE5;
}

.right {
  background-color: white;
}

.left {
  background-color:#C2ADE5;
}

.theme-disco .game-text {
  color: black;
}

.construction{
  float: right;
  height: 50%;
}
