@font-face { 
  font-family: 'Tilt_Neon'; 
  src: url('../fonts/Tilt_Neon/TiltNeon-Regular-VariableFont_XROT\,YROT.ttf');
}

@font-face {
  font-family: 'RocaTwo';
  src: url('../fonts/Roca-Font/RocaTwo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Tilt_Neon'; 
}

body {
  height: 5000px;

  background-image: url("../img/background.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed; /* Add this line */
  background-color: #C6A6CF;
  font-size: 16px;

}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 128px;
  padding-right: 128px;
  
  justify-content: center;
    
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .container {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;

  max-width: 1600px;
  margin: 0 auto;
  padding-left: 128px;
  padding-right: 128px;
  }

  h3 {
    padding-right: 50px;

  span {
    color: white
  }
}
  
nav {
  margin-top: 5px; /* Add some space above the nav */
}

.menu-flex {
  display: flex;
  justify-content: space-between;
}

.menu-flex a {
  text-decoration: none;
  color: black; /* Set text color to white */
  font-weight: bold;
  margin-right: 20px;
  
}

.menu-flex a:last-child {
  margin-right: 0; /* Remove margin from the last navigation link */
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  .container {
    padding-left: 40px; /* Adjust left padding for smaller screens */
    padding-right: 20px; /* Adjust right padding for smaller screens */
  } }

/* Media query for small screens */
@media screen and (max-width: 480px) {
  .menu-flex {
    flex-direction: column; /* Change flex-direction to column for small screens */
    align-items: start; /* Center the items vertically */
  }

  .menu-flex a {
    margin-bottom: 10px; /* Add margin between the navigation links */

  }
  
  
}


}


main {

  section.home {
    
    .welcome {
    display: flex;
    align-items: center;
    min-height: 100vh;
    font-size: 180px;
    font-family: 'Tilt_Neon';
    color: #C6A6CF;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    }



  }

  .container {
    position: relative;
    z-index: 1;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;

  }

}



footer {
  padding: 10px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;

  .button img {
    width: 40px;
    height: auto;
  }
}